In [1]:
import pandas as pd
df=pd.read_csv('Hair Care Data 14.09.2019.csv')
df.head()

,Record ID,Product,Product Variant,Brand,Company,Ultimate Company,Market,Date Published,Category,Sub-Category,...,Ingredient 1,Ingredient 2,Ingredient 3,Ingredient 4,Ingredient 5,Ingredient 6,Ingredient 7,Ingredient 8,Ingredient 9,Remaining Ingredients
0,62,2-in-1 Shampooing de Soin,2-in-1 Shampooing de Soin,L'Oréal Elsève Multivitamines,L'Oréal,L'Oréal,Belgium,17-12-1998,Hair Products,Shampoo,...,Aqua,sodium laureth,sulfate,Dimethicone,Coco-betaine,cetyl,Alcohol,hydroxystearyl,cetylether,"Cocamide MIPA, Niacinamide, Guar Hydroxypropyl..."
1,180,Natéa Nutricolour Masque,Prelightener,Natéa,Garnier,L'Oréal,UK,22-12-1998,Hair Products,Hair Colorants,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,440,Excellence Crème,Excellence Crème,L'Oréal,L'Oréal,L'Oréal,Germany,04-01-1999,Hair Products,Hair Colorants,...,Aqua,Cetearyl Alcohol,Propylene Glycol,Deceth-3,Glycol Distearate,Polyquaternium-22,Ethanolamine,Silica Dimethyl Silylate,P-aminophenol,"4-amino-2-hydroxytoluene, Pentasodium Pentetat..."
3,442,Head & Shoulders,Head & Shoulders,Head & Shoulders,Procter & Gamble,Procter & Gamble,Germany,04-01-1999,Hair Products,Shampoo,...,Aqua,Ammonium Laureth Sulfate,Ammonium Lauryl Sulfate,Sodium Lauroyl Sarcosinate,Glycol Distearate,Sodium Chloride,PEG-12,Zinc Pyrithione,Sodium Phosphate,"Disodium Phosphate, Dimethicone, Polyquaterniu..."
4,513,Récital Préférence,Récital Préférence,Récital Préférence,L'Oréal,L'Oréal,France,06-01-1999,Hair Products,Hair Colorants,...,Aqua,Cocamide DEA,Butoxyethanol,PEG2 oleamine,Alcohol Denat.,Polyglyceryl-4 Oleyl Ether,Oleyl Alcohol,Ammonium Hydroxide,Propylene Glycol,"Polyglyceryl-2 Oleyl Ether, Oleic Acid, Sodium..."

In [13]:
python flaskAPI-Copy1.py

SyntaxError: invalid syntax (<ipython-input-13-ebafcf22b006>, line 1)

In [3]:
x="hello"[0]
x

'h'

Total time - 3 hours
Total marks - 100
Please use the data set for Medical schools. 

Data Engineering - 50 marks ( Python or R )

Q1) Which are the 5 Products with the highest number of variants? 
Q2) Which are the 5 markets with the highest number of variants?  
Q3) Create a matrix of the number of variants for the top 5 products in the top 5 countries. 
Q4) What are the top claims in 1999? 
Q5) By how much percent has the average price of Head & Shoulders changed between the first year of reporting and the last year of reporting? Ignore volume and other details for this calculation. 
Q6) Create a data set with only 20% of the rows from the given data set. The new data set has to meet two conditions - the percentage of products for the Brazil market should be the same as the original & the yearly distribution of records should be the same as the original. 
Q7) Which are the three most common ingredients in each year? 
Q8) Is there any ingredient which has remained in the top 10 most common ingredients across all years?  

Data Visualization ( Tableau or Power BI )
Please create a Dashboard(s) using Tableau or PowerBI. Use the given original dataset for this purpose and not the one created as part of the Data Engineering part of the test.  

On completion of 3 hours, please email the Python / R files and the PBIX / TWBX files to Rashmi. In case you are using Tableau Public, please publish the dashboard and share the link with Rashmi.

# Q1) Which are the 5 Products with the highest number of variants?

In [141]:
a=df.groupby('Product')[['Number of Variants']].max()
pp=a.sort_values('Number of Variants',ascending=False).head()
pp

                                            Number of Variants
Product
Organic Hair Color - Herbatint Color Range                  40
Hair Colourant                                              37
Hair Colourants                                             33
Custom Hair Color                                           30
Feria                                                       30

In [2]:
df[['Product','Number of Variants']].sort_values('Number of Variants',ascending=False).head()

                                          Product  Number of Variants
13055  Organic Hair Color - Herbatint Color Range                  40
13023                              Hair Colourant                  37
299                               Hair Colourants                  33
13246                           Custom Hair Color                  30
38                                          Feria                  30

# Q2) Which are the 5 markets with the highest number of variants?

In [174]:
a=df.groupby('Market')[['Number of Variants']].max()
aa=a.sort_values('Number of Variants',ascending=False).head()
aa

        Number of Variants
Market
USA                     40
UK                      33
Spain                   30
Canada                  30
France                  27

In [3]:
df[['Market','Number of Variants']].sort_values('Number of Variants',ascending=False).head()

       Market  Number of Variants
13055     USA                  40
13023     USA                  37
299        UK                  33
13246  Canada                  30
38      Spain                  30

# Q3) Create a matrix of the number of variants for the top 5 products in the top 5 countries.

In [151]:
a=df.groupby('Market')[['Number of Variants']].max()
aa=a.sort_values('Number of Variants',ascending=False).head()
listt=list(aa.index)
for df['Market'] in listt:
    a=df.groupby('Product')[['Number of Variants']].max()
    pp=a.sort_values('Number of Variants',ascending=False).head()
pp

                                            Number of Variants
Product
Organic Hair Color - Herbatint Color Range                  40
Hair Colourant                                              37
Hair Colourants                                             33
Custom Hair Color                                           30
Feria                                                       30

# Q4) What are the top claims in 1999?

In [134]:
df['year']=df['Date Published'].apply(lambda x: str(x).split('-')[2])

In [135]:
df['year']=df['year'].astype('int')

In [136]:
df=df[df['year']==1999]

In [137]:
df['Positioning Claims'].value_counts().head()

Anti-Dandruff, Skin Disorders    48
Damaged Hair                     31
Botanical/Herbal                 16
Vitamin/Mineral Fortified        14
UV Protection                    12
Name: Positioning Claims, dtype: int64

# Q5) By how much percent has the average price of Head & Shoulders changed between the first year of reporting and the last year of reporting? Ignore volume and other details for this calculation

In [137]:
df5=pd.read_csv('Hair Care Data 14.09.2019.csv')
df5['year']=df5['Date Published'].apply(lambda x: str(x).split('-')[2])
df5['year']=df5['year'].astype('int')

In [156]:
df5['Price in local currency']=df5['Price in local currency'].fillna('0')
df5['Price in local currency']=df5['Price in local currency'].astype('float')

In [172]:
df5=df5[df5['Brand']=='Head & Shoulders']

In [184]:
new=pd.DataFrame(df5.groupby('year')['Price in local currency'].mean())
new

      Price in local currency
year
1998               365.666667
1999               575.559167
2000                26.048000
2001                24.438333
2005               730.591818
2006                 7.733333
2019             19610.557500

In [189]:
a=((new.loc[2019].values[0]-new.loc[1998].values[0])/new.loc[2019].values[0])*100
print(round(a,2),'%')

98.14 %

# Q6) Create a data set with only 20% of the rows from the given data set. The new data set has to meet two conditions - the percentage of products for the Brazil market should be the same as the original & the yearly distribution of records should be the same as the original.

In [74]:
import pandas as pd
df1=pd.read_csv("Hair Care Data 14.09.2019.csv")
df1.astype('object')
df1.dtypes
df1.columns
df1['year']=df1['Date Published'].apply(lambda x: str(x).split('-')[2])
df1['year']=df1['year'].astype('int')
df1.shape[0]*0.20

2853.4

In [75]:
#sample
sample_size=2853
samp=df1.sample(sample_size,random_state=1)
sam=pd.DataFrame(samp)
sam[sam['Market']=='Brazil']
pro=sam['Product'].value_counts().sum()
yr=sam['year'].value_counts().sum()
print(((pro/sample_size)*100),((yr/sample_size)*100))

99.7546442341395 100.0

In [55]:
#population 
df1=df1[df1['Market']=='Brazil']
pop_sum=df1['Product'].value_counts().sum()
yrpop=df1['year'].value_counts().sum()
pro1=(pop_sum/len(df1))*100
yrpop1=(yrpop/len(df1)*100)
print(pro1,yrpop1)

99.66499162479062 100.0

In [76]:
#hence..the new df with 20% of datasets
sam

,Record ID,Product,Product Variant,Brand,Company,Ultimate Company,Market,Date Published,Category,Sub-Category,...,Ingredient 2,Ingredient 3,Ingredient 4,Ingredient 5,Ingredient 6,Ingredient 7,Ingredient 8,Ingredient 9,Remaining Ingredients,year
7939,6605991,Conditioner,Conditioner,Magic Beauty Nutri Expert,Lyska Ind e Com de Cosméticos,Lyska Ind e Com de Cosméticos,Brazil,11-06-2019,Hair Products,Conditioner,...,Cetearyl Alcohol,Cetrimonium Chloride,behentrimonium chloride/isopropyl alcohol,PEG-90M/aqua,Polyquaternium-10,Mica,Titanium Dioxide,Perfuming,"Butyrospermum Parkii Butter, amodimethicone/ce...",2019
3582,506781,Ultra Shine Smoothing Hair Serum,Ultra Shine Smoothing Hair Serum,Phyto Phytolisse,Laboratoires Phytosolba,Ales Groupe,Vietnam,27-02-2006,Hair Products,Hair Treatments,...,Dimethiconol,Alcohol Denat.,Panthenol,Perfuming,Althaea Officinalis Root Extract,Phytantriol,NaN,NaN,NaN,2006
6514,6537669,Treatment,Treatment,Ryo Hair Loss Care,Amorepacific,Amorepacific,Singapore,10-05-2019,Hair Products,Hair Treatments,...,Sorbitol,Dipropylene Glycol,Dimethicone,Cetyl Alcohol,Stearyl Alcohol,Stearamidopropyl Dimethylamine,Glutamic Acid,Xylitol,"Panthenol, Butyrospermum Parkii Butter, Perfum...",2019
4939,6463261,No Blowout Hydrocream,No Blowout Hydrocream,Paul Mitchell Awapuhi Wild Ginger Style,John Paul Mitchell Systems,John Paul Mitchell Systems,USA,08-04-2019,Hair Products,Hair Styling,...,Polyacrylamide,Trisiloxane,Hedychium Coronarium Flower/leaf/stem Extract,Keratin,Hydrolyzed Keratin,Oxidized Keratin,C13-14 Isoparaffin,Polyurethane-14,"AMP-acrylates Copolymer, Trideceth-9, Tridecet...",2019
5663,6496535,Kids Conditioner,Kids Conditioner,Johnson & Johnson Johnson's Shiny Drops,Johnson & Johnson,Johnson & Johnson,Greece,24-04-2019,Hair Products,Conditioner,...,Cetearyl Alcohol,Glycerin,Silk Amino Acids,Behentrimonium Chloride,Cetrimonium Chloride,Argania Spinosa Kernel Oil,Cetyl Esters,Hydroxyethylcellulose,"Isopropyl Alcohol, Polysorbate 60, Sodium Chlo...",2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12811,6858115,Shampoo,Shampoo,Aussie Colour Mate,Aussie,Procter & Gamble,UK,10-09-2019,Hair Products,Shampoo,...,Sodium Lauryl Sulfate,Sodium Laureth Sulfate,Cocamidopropyl Betaine,Glycol Distearate,Sodium Citrate,Cocamide MEA,Sodium Xylenesulfonate,Perfuming,"Citric Acid, Sodium Benzoate, Sodium Chloride,...",2019
4499,6445411,Cetyl Palmitate Hair Mask,Cetyl Palmitate Hair Mask,Cométicos Capill Sayii Esperm d'Ballem,Laboratorios Capill Mary'am,Laboratorios Capill Mary'am,Colombia,03-04-2019,Hair Products,Hair Treatments,...,PEG-40 Castor Oil,Sodium Cetearyl Sulfate,Cetearyl Alcohol,Dicaprylyl Ether,Dicaprylyl Carbonate,Glycerin,Cetyl Palmitate,Glycolic Acid,"Hydrolyzed Wheat Protein, Allantoin, Tocophery...",2019
6327,6530187,Thickening Conditioner,Thickening Conditioner,Creightons Professional BAMbeautiful,Creightons,Creightons,UK,07-05-2019,Hair Products,Conditioner,...,Cetearyl Alcohol,Pisum Sativum Peptide,Behentrimonium Chloride,Cetyl Esters,Glycerin,Stearamidopropyl Dimethylamine,Phenoxyethanol,Perfuming,"Ceteareth-20, Panthenol, Hydroxypropyl Guar Hy...",2019
11679,6807979,Hair Tonic and Scalp Conditioner,Hair Tonic and Scalp Conditioner,Vaseline,Unilever,Unilever,Oman,21-08-2019,Hair Products,Hair Treatments,...,Perfuming,Benzyl Benzoate,Citronellol,Geraniol,L-limonene,Linalool,NaN,NaN,NaN,2019
6549,6539051,Anti-Dandruff & Scalp Relief Shampoo,Anti-Dandruff & Scalp Relief Shampoo,Ryo Men,Amorepacific,Amorepacific,China,09-05-2019,Hair Products,Shampoo,...,Sodium Laureth Sulfate,Lauryl Hydroxysultaine,Sorbitol,Perfuming,Malt Extract,Panax Ginseng Root Extract,Camellia Sinensis Leaf Extract,Mentha Piperita Extract,"Zingiber Officinale Root Extract, Menthol, PEG...",2019

# Q7) Which are the three most common ingredients in each year?

In [46]:
import pandas as pd
dff=pd.read_csv("Hair Care Data 14.09.2019.csv")
dff.astype('object')
dff.dtypes
dff.columns
dff['year']=dff['Date Published'].apply(lambda x: str(x).split('-')[2])
dff['year']=dff['year'].astype('int')


listt1,listt2,listt3,listt4,listt5,listt6,listt7,listt8,listt9=[],[],[],[],[],[],[],[],[]
dff.dropna(subset = ['Ingredient 1', 'Ingredient 2', 'Ingredient 3',
       'Ingredient 4', 'Ingredient 5', 'Ingredient 6', 'Ingredient 7',
       'Ingredient 8', 'Ingredient 9'],inplace = True)
for row in dff['Ingredient 1']:
    listt1.append(row)
for row in dff['Ingredient 2']:
    listt2.append(row)
for row in dff['Ingredient 3']:
    listt3.append(row)
for row in dff['Ingredient 4']:
    listt4.append(row)
for row in dff['Ingredient 5']:
    listt5.append(row)
for row in dff['Ingredient 6']:
    listt6.append(row)
for row in dff['Ingredient 7']:
    listt7.append(row)  
for row in dff['Ingredient 8']:
    listt8.append(row)   
for row in dff['Ingredient 9']:
    listt9.append(row) 

    
new=[]
for i in listt9:
    if (i in listt1 and i in listt3 and i in listt4 and i in listt5 and i in listt6 and i in listt7 and i in listt8 and i in listt9):
        new.append(i)

aa=dff['year'].value_counts()
yr=list(aa.index)
dictt={}
for yr in dff['year']:
    for j in new:
        if j in dictt:
            dictt[j]+=1
        else:
            dictt[j]=1
for key, value in sorted(dictt.items(), key=lambda item: item[1],reverse=True)[0:3]:
    print(key)

Perfuming
Citric Acid
Panthenol

# Q8) Is there any ingredient which has remained in the top 10 most common ingredients across all years?

In [2]:
import pandas as pd
dff=pd.read_csv("Hair Care Data 14.09.2019.csv")
dff.astype('object')
dff.dtypes
dff.columns
dff['year']=dff['Date Published'].apply(lambda x: str(x).split('-')[2])
dff['year']=dff['year'].astype('int')

listt1,listt2,listt3,listt4,listt5,listt6,listt7,listt8,listt9=[],[],[],[],[],[],[],[],[]
dff.dropna(subset = ['Ingredient 1', 'Ingredient 2', 'Ingredient 3',
       'Ingredient 4', 'Ingredient 5', 'Ingredient 6', 'Ingredient 7',
       'Ingredient 8', 'Ingredient 9','Remaining Ingredients'],inplace = True)
for row in dff['Ingredient 1']:
    listt1.append(row)
for row in dff['Ingredient 2']:
    listt2.append(row)
for row in dff['Ingredient 3']:
    listt3.append(row)
for row in dff['Ingredient 4']:
    listt4.append(row)
for row in dff['Ingredient 5']:
    listt5.append(row)
for row in dff['Ingredient 6']:
    listt6.append(row)
for row in dff['Ingredient 7']:
    listt7.append(row)  
for row in dff['Ingredient 8']:
    listt8.append(row)   
for row in dff['Ingredient 9']:
    listt9.append(row) 


new=[]
for i in listt9:
    if (i in listt1 and i in listt3 and i in listt4 and i in listt5 and i in listt6 and i in listt7 and i in listt8 and i in listt9):
        new.append(i)

aa=dff['year'].value_counts()
yr=list(aa.index)
dictt={}
for yr in dff['year']:
    for j in new:
        if j in dictt:
            dictt[j]+=1
        else:
            dictt[j]=1
print("TOP 10 MOST COMMON INGREDIENTS ACROSS ALL YEARS")
keys=[]        
for key, value in sorted(dictt.items(), key=lambda item: item[1],reverse=True)[0:10]:
    keys.append(key)
    print(key,end=",")
new_rem=[]
for k in dff['Remaining Ingredients']:
    if k in keys:
        new_rem.append(k)
print('\n')
print('REMAINED INGRDIENTS IN TOP 10 INGREDIENTS ACROSS ALL YEARS')
print(list(set(new_rem)))

TOP 10 MOST COMMON INGREDIENTS ACROSS ALL YEARS
Perfuming,Citric Acid,Panthenol,Disodium EDTA,Sodium Benzoate,Sodium Chloride,Glycerin,Propylene Glycol,Polyquaternium-10,Dimethicone,

REMAINED INGRDIENTS IN TOP 10 INGREDIENTS ACROSS ALL YEARS
['Perfuming', 'Dimethicone', 'Disodium EDTA', 'Propylene Glycol', 'Panthenol', 'Citric Acid', 'Sodium Chloride']

In [3]:
dff.columns

Index(['Record ID', 'Product', 'Product Variant', 'Brand', 'Company',
       'Ultimate Company', 'Market', 'Date Published', 'Category',
       'Sub-Category', 'Price in US Dollars', 'Price in Euros',
       'Positioning Claims', 'Storage', 'Unit Pack Size (ml/g)',
       'Packaging Units', 'Package Type', 'Package Material', 'Nutrition',
       'Number of Variants', 'Product Description', 'Launch Type',
       'Company county/State', 'Private Label', 'Currency',
       'Price in local currency', 'Bar Code', 'Production Code', 'Flavours',
       'Fragrances', 'Ingredient 1', 'Ingredient 2', 'Ingredient 3',
       'Ingredient 4', 'Ingredient 5', 'Ingredient 6', 'Ingredient 7',
       'Ingredient 8', 'Ingredient 9', 'Remaining Ingredients', 'year'],
      dtype='object')

In [5]:
dff.groupby(level=0).sum()

,Record ID,Price in US Dollars,Price in Euros,Unit Pack Size (ml/g),Number of Variants,Price in local currency,Flavours,year
0,62,3.51,2.95,250.00,1,119.00,0.0,1998
2,440,0.00,0.00,120.00,1,0.00,0.0,1999
3,442,0.00,0.00,200.00,1,0.00,0.0,1999
4,513,10.69,9.00,120.00,1,59.00,0.0,1999
7,833,0.00,0.00,300.00,3,1.59,0.0,1999
...,...,...,...,...,...,...,...,...
14262,10254053,5.99,4.56,273.56,1,5.99,0.0,2006
14263,10254055,13.95,11.60,251.38,1,13.95,0.0,2006
14264,10254155,1.00,0.83,499.79,4,1.00,0.0,2006
14265,10254264,5.49,4.56,354.88,1,5.49,0.0,2006
14266,10254300,5.99,4.98,168.40,1,5.99,0.0,2006

In [13]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                               'Parrot', 'Parrot'],
                  'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [14]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [15]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'], ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                   index=index)
df

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [12]:
df.groupby(level=0).mean()

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [11]:
df.groupby(level="Type").mean()

         Max Speed
Type
Captive      210.0
Wild         185.0

## Tom and jerry
12sd78f
sf

In [2]:
tom=input()
print(list(tom))
tom1=list(tom)
cherry=input()
print(list(cherry))
cherry1=list(cherry)
s=""
for i in cherry1:
    if i in tom1:
        s=s+i
comp=list(s)
if comp==cherry1:
    print("friends")

12sd78f
['1', '2', 's', 'd', '7', '8', 'f']
sf
['s', 'f']
friends

In [29]:
a=['a','b','c']
b=['a','b']
s=""
for i in b:
    if i in a:
        s=s+i
print(s)

ab

In [ ]:
List first: {'y4', 'x3', 'rr', 'x1'}
List second: {'y4', 'rr', 'x1'}
Difference of first and second String: {'x3'}
First and Second list are Not Equal