### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Assign it to a variable called chipotle.

In [3]:
df=pd.read_csv('chipotle.tsv',sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. See the first 10 entries

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [5]:

df.shape[0]

4622

### Step 5. What is the number of columns in the dataset?

In [6]:
df.shape[1]

5

### Step 6. Print the name of all the columns.

In [7]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. Which was the most-ordered item?

In [9]:
a=df.groupby('item_name')[['quantity']].sum()
a.sort_values('quantity',ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 8. What was the most ordered item in the choice_description column?

In [10]:
b=df.groupby(['choice_description'])[['quantity']].sum()
b.sort_values('quantity',ascending=False).head(1)

                    quantity
choice_description
[Diet Coke]              159

### Step 9. How many items were orderd in total?

In [27]:
df['item_name'].nunique()

50

### Step 10. How much was the revenue for the period in the dataset?

In [14]:
def dollar(x):
    return float(x[1:-1])
df['item_price']=df['item_price'].apply(dollar)
revenue = (df['quantity']*df['item_price']).sum()
revenue

39237.02

### Step 11. How many orders were made in the period?

In [24]:
df['order_id'].nunique()

1834

### Step 12. How many different items are sold?

In [15]:
df['item_name'].nunique()

50